body {
    text-align: center;
    font-size: 26px;
}

.location {
    margin-top: 40px;
}

button {
    width: 200px;
    font-size: 26px;
    margin: 40px auto 0 auto;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
}